.text-center {
    text-align: center;
}

.text-white {
    color: @secondary-text-color;
}

.bg-primary {
    background-color: @primary-color;
}

.bg-secondary {
    background-color: @secondary-background-color;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}