@primary-background-color: #ffffff;
@secondary-background-color: #003f68;
@accent-background-color: #ffe500;

@primary-color: #0078b9;
@secondary-color: #003f68;
@accent-color: #f47b0b;

@primary-text-color: #111111;
@secondary-text-color: #ffffff;
@muted-text-color: #666666;